/*
Theme Name:     Doctoral Training
Theme URI:      http://www.walesdtc.ac.uk/web/doctoral-training-theme/
Description:    Child theme for the Twenty Eleven theme optimised for a doctoral training centre
Author:         Simon Wood
Author URI:     http://simonwood.info
Text Domain:	esrcwalesdtc
Template:       twentyeleven
Version:        0.2.23
Bitbucket Theme URI: https://bitbucket.org/mrsimonwood/esrcwalesdtc/

License: 		GNU General Public License v2.0
License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
Compatible with Google Custom Search plugin
*/

/*
Theme colours:

Blues:
Link blue		#0064A8
				#1b8be0 (as set in theme options)
Feature blue	#e6edf5

Greys:
Very pale		#f9f9f9
Highlight		#f8f8f8
Background		#f1f1f1 (as set in theme options)
Menu focus		#efefef
Light grey		#eee
Border grey		#ddd
Meta-text		#888
Tagline grey	#7e7e7e
Menu dropdown	#444
Text colour		#373737

*/


@import url("../twentyeleven/style.css");

/* =Structure
----------------------------------------------- */

#page {
	margin: 1em auto;
	max-width: 1000px;
	border-top: 15px solid #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

/* Singlular */

.singular #content,
.one-column #content,
.left-sidebar.singular #content {
	margin: 0 3.8%;
}

/* =Global
----------------------------------------------- */

/* Links */
a {
	color: #0064A8;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* =Header
----------------------------------------------- */

#branding {
	border-top: none;
	z-index: 999;
}

#branding img {
	height: auto;
	width: auto;
	margin-left: 4%;
	margin-bottom: 0;
}

#branding #searchform, .one-column #branding #searchform {
	top: 1em;
}

h2#tagline {
	font-size:1em; 
	margin-top: 0.5%;
	margin-bottom: 1.5%; 
	color:#7e7e7e; 
	margin-left: 4%;
	line-height: 1.2;
}

#search-box {
	width: 20%;
	position: absolute;
	margin-right: 4%;
	top: 0;
	right: 0;
	margin-bottom: 2%;
}


/* =Menu
-------------------------------------------------------------- */

#access2 {
	background: #373737; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#373737, #0a0a0a);
	background: -o-linear-gradient(#373737, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#373737), to(#0a0a0a)); /* older webkit syntax */
	background: -webkit-linear-gradient(#373737, #0a0a0a);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}

#access2 > ul > li > a {
	display: none;
	padding: 0;
	margin: 0.125em 0;
	font-weight: bold;
}

#access2 ul {
	font-size: 13px;
	list-style: none;
}

#access2 ul ul {
	margin: 0 1.625em 0 -0.8125em;
	padding-left: 0;
}
#access2 ul ul li {
	float: left;
	position: relative;
}
#access2 a {
	color: #eee;
	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none;
}
#access2 ul ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3.333em;
	left: 0;
	width: 288px;
	z-index: 99999;
}
#access2 ul ul ul ul {
	left: 100%;
	top: 0;
}
#access2 ul ul ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 268px;
}
#access2 li:hover > a,
#access2 ul ul ul :hover > a,
#access2 a:focus {
	background: #efefef;
}
#access2 li:hover > a,
#access2 a:focus {
	background: #f9f9f9; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737;
}
#access2 ul ul li:hover > ul {
	display: block;
}
#access2 .current-menu-item > a,
#access2 .current-menu-ancestor > a,
#access2 .current_page_item > a,
#access2 .current_page_ancestor > a {
	font-weight: bold;
}

/* One column */
.one-column #page {
	max-width: 1000px;
}


/* =Content
----------------------------------------------- */

#main {
	padding: 0;
	overflow: hidden;
}

#primary {
	position: relative;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/

.singular.page .hentry {
	padding: 0;
}

.one-column.singular .entry-meta .edit-link a {
	position: absolute;
	left: 0;
	top: 0;
}

.singular .short .entry-meta .edit-link a {
	position: relative;
}

h4 {
	font-weight: bold;
	clear: none;
}

.clear {
	clear: both;
	border: 0;
	padding: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
	padding: 0.875em 0 0;
	margin: 0 0 1.625em;
}

.profiles.shortcode {
	overflow: auto;
}

/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 8.9%;
}
.error404 #main #s {
	width: 95%;
}
.error404 #main .widget-area .widget {
	clear: none;
	float: left;
	margin-right: 10%;
	width: 26%;
}

.error404 #main .widget-area .widget ul.menu {
	list-style: square !important;
}

.error404 #main .widget-area .widget ul.menu ul.sub-menu {
	display: none;
}

.error404 #main #right-widget-area .widget {
	margin-right: 0;
}

.error404 .widget-title {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}


/* =Page elements
----------------------------------------------- */

.page-header, .singular .entry-header h1 { 
	background: rgb(40,40,40);
	background: rgba(0,0,0,0.7); 
	position: absolute; 
	top: -4.5em;
	padding: 1% 2%;
	display: block;
	width: auto !important;
}

.singular .short .entry-header h1 { 
	background: none;
	position: static;
	top: auto;
	padding: 0;
}

.entry-title, .singular .entry-title, .page-title { 
	color: #fff;
	font-size: 1.2em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-transform: none;
	letter-spacing: 0.1em;
	line-height: 1.5em;
}

.home .entry-title, .home .entry-header {
	display: none;
}

.entry-content h2 { 
	color:#373737;
	clear:none;
}

.entry-content,
.entry-summary {
	padding: 1.625em 0 0;
}

.route .entry-content, .studentship .entry-content {
	padding: 0;
}

.route .entry-meta {
	float: left;
	margin-left: -4em;
}

.route-brief-info p {
	width: 30%;
	float: left;
}

.entry-content .route-brief-info {
	margin-bottom: 0;
	margin-top: 0;
}

.post-type-group {
	clear:both;
}

h3.pathway-header {
	margin-top: 2%;
}

.entry-content .route-sublist-item {
	border-top: none;
}

.post-type-archive-route #content, .post-type-archive-studentship #content {
	margin-top: 1.625em;
}

.post .entry-header { 
	background: none; 
	position: relative;
	top: 0;
	padding: 0;
	display: block;
	width: auto;
}

.hentry {
	position: static;
}

p.nocomments {
	display: none;
}

.post .entry-header h1.entry-title a {
	font-size: 0.9em;
}

#content .entry-header .entry-meta {
	display: block;
}

.single #content .entry-header .entry-meta {
	padding-top: 1.625em;
	position: static;
}

.entry-header .comments-link a {
	display: none;
}

.post {
	overflow: hidden;
	padding-bottom: 0;
}

.singular .post {
	overflow: visible;
}


.feature {
	background: #e6edf5;
	margin: 1% 1% -199%;
	padding: 1% 1% 200%;
}

.feature p {
	padding: 0;
	margin: 0 0 0.5em;
}

.listing {
	background: #f8f8f8;
	margin: 1% 1% -199% 1%;
	padding: 1% 1% 200% 1%;
}


/* selectors defined by the plugin */

.entry-content h3,
.comment-content h3,
.term-description h3,
.further-information h3,
h3.archive-subhead {
	font-size: 1.1em;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	color:#373737;
	text-transform: none;
	clear: none;
}


.post-type-archive-profile h3.archive-subhead:first-of-type  {
	display: none;
}


.short, .singular .hentry .short {
	width: 90px;
	float: left;
	background: #e6edf5;
	margin-right: 0.5%;
	padding: 1%;
}

.short .entry-title {
	font-size: 0.9em;
	height: 5.6em;
}

.entry-content p {
    margin-bottom: 1.625em;
    margin-top: 1.625em;
}

.short .entry-content {
	padding-top: 0.25em;
}

.short .entry-content img  {
	margin-bottom: 0;
}

/* =========================================/
 * Plugin Specific - could move to plugin? */

.route .entry-title, .studentship .entry-title {
	display: none;
}

/* ======================================= */







.grey-box {
	background: #eee;
	margin: 5px 15px 10px 0;
	padding: 5px;
	border: 1px dashed #373737;
}

.third-box {
	width: 29%;
	float: left;
	overflow: hidden;
}

.half-box {
	width: 46%;
	float: left;
}

.quart-box {
	width: 21%;
	float: left;
}

.full-box {
	clear: both;
	margin: 0;
	padding: 0;
	margin-bottom: 1%;
	overflow: hidden;
}

.right-box {
	float: right;
	margin-left: 0%
}

.box-content, .tax-institution .route .field, /* this is targeted at tax-institution - but shouldn't it be everything except tax-pathway? */
article.studentship .field,
.post-type-archive-route article.route .field
 {
	float: left;
	postition: relative;
}

.box-content, .tax-institution .route .field, /* this is targeted at tax-institution - but shouldn't it be everything except tax-pathway? */
article.studentship .field
{
	width: 28%;
	margin-right: 2%;
} 

.post-type-archive-route article.route .field
{
	width: 50%;
} 


.box-content, .tax-institution .route {
	clear: both;
}

.field-label {
 	float: left;
 	padding-right: 0.5em; 
}

.field {
	margin: 0 0 0.5em;
}

.field-label {
    font-weight: bold;
}

.profile .field {
	margin-bottom: 0;
}

.post-type-archive-route article.route .field-institution {
	width: 100%;
}

article.route {
	border: 1px dashed #373737;
}
article.studentship {
	border: 1px solid #373737;
}
article.route, article.studentship {
	background: #f8f8f8;
	margin: 1% 2% 2% 0;
	padding: 1% 1% 1% 1%;
	overflow: hidden;
	font-size: 0.9em;
}


 /*
.images-box img {
	margin: 6px;
}

.archive .entry-content .sorted-by-tax-header {
	clear:both;
}

*/





.featured-image-licence {
    font-style: italic;
}

.wp-caption .wp-caption-text:before {
	content: none;
}

.wp-caption img {
	border-color: #ddd;
}

.wp-caption a span.play {
	position: absolute; 
	display: block;
	width: 150px;
	height: 150px;
	top: -181px;
	left: -1px;
	margin: 0 auto;
	background: url("images/play.png") center center no-repeat; 
	z-index: 100; 
	border: #eee solid 6px;
}

.wp-caption a:hover span.play {
	background: url("images/play2.png") center center no-repeat;
	border: #fff solid 6px; 
}

.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 10px 0 5px;
	position: relative;
	text-align: center;
	height: 3em;
}

#nav-single {
	position: absolute;
	width: 100%;
}

/*
.hentry,
.no-results {
	margin: 1.625em 0 0;
}
*/

/* =Footer
----------------------------------------------- */

#supplementary {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	padding: 0.625em 3.8%;
	overflow: hidden;
	text-align: center;
	clear: both;
}

#supplementary .widget {
	margin: 1.6253em 0 0;
	overflow: hidden;
}

.route, .studentship {
/*	margin: 0;
	padding: 0;
	border: none; */
}

.entry-meta {
	clear: none;
}

#credit {
	text-align: center;
	font-size: 0.65em;
	color: #888;
}

/* =Widgets
----------------------------------------------- */

/* are the following three needed anymore? 
ul#menu-sidebar {
	width: 100%;
	list-style: none;
}

ul#menu-sidebar li {
	width: 14%;		
	clear:none;
	float: left;
	margin: auto;
	padding: none;
	text-align: center;
	line-height: 100px;
	border: none;
}

ul#menu-sidebar li img {
	vertical-align: middle;
}*/


/* all new selector - can target better? */
img.institution-logo {
	max-height: 80px;
	max-width: 125px;
	padding: 25px 50px;
	vertical-align: middle;
}

ul#menu-footer, ul#menu-footer-cy {
	list-style: none;
}

ul#menu-footer li, ul#menu-footer-cy li, ul#menu-social li, ul#menu-social-cy li  {
	display: inline;
}

ul#menu-footer li a, ul#menu-footer-cy li a, ul#menu-social li a, ul#menu-social-cy li a {
	font-weight: normal;
	font-size: 0.8em;
	color: #888;
}

ul#menu-social, ul#menu-social-cy {
	padding-top: 0.25em;
}

ul#menu-social li, ul#menu-social-cy li  {
	padding: 0.5em 0.75em 0;
}

#social-widgets {
	border-top: 1px solid #ddd;
	clear: both;
}

#social-widgets .widget {
	margin: 0 2% 1%;
	width: 40%;
	clear: none;
	float: left;
}

#social-widgets .atfollowwidget {
	float: right;
}

#social-widgets .atfollowwidget div a {
	float: right;
}

#social-widgets .atfollowwidget {
	text-align: right;
}


.front-page-sidebar {
	float: left;
	width: 23%;
	clear: none;
	margin: 0 1%;
}


.front-page-sidebar .widget {
	margin: 0;
}

.front-page-sidebar .widget_em_widget ul li {
	margin: 0 0 1.625em;
}

.front-page-sidebar .widget p.see-more {
	font-size: 80%;
	font-weight: bold;
}

#front-page-sidebar-2 {
	width: 42%;
	margin: 0 4%;
}

.front-page-sidebar ul {
	overflow: hidden;
}

.front-page-sidebar a {
	font-weight: normal;
}

.latest_posts_with_thumbnail_widget ul li {
	clear: both;
	list-style: none;
}

.widget_twitter .entry-content {
	padding: 0;
}

.widget_twitter .entry-meta, .studentship-widget-meta {
    display:block;
    font-size:80%;
}

.widget_twitter .time-meta a {
	color: #888;
	float: left;
}

.widget_twitter .intent-meta a {
    	background: url(images/everything-spritev2.png); /** from Twitter ressources */
    	display: inline-block;
    	height: 16px;
    	text-indent: -9999px;
    	width: 16px;
}

.widget_twitter .intent-meta a.in-reply-to {
    	background-position: 0 center;
}

.widget_twitter .intent-meta a:hover.in-reply-to {
    	background-position: -16px center;
}

.widget_twitter .intent-meta a.favorite {
    	background-position: -32px center;
}

.widget_twitter .intent-meta a:hover.favorite {
    	background-position: -48px center;
}

.widget_twitter .intent-meta a.retweet {
    	background-position: -80px center;
}

.widget_twitter .intent-meta a:hover.retweet {
    	background-position: -96px center;
}

.twitter-avatar img {
	border: 1px solid #ddd;
	padding: 6px;
	float: left;
	margin-right: 1.625em;
	margin-bottom: 1.625em;
}


/* The following two items are to correct issues with Google Custom Search displaying */

.ui-dialog {
	z-index: 99999;
}

.ui-dialog-titlebar-close span {
	margin-left: -8px !important;
	margin-top: -8px !important;
}

td.gsc-search-button {
	display: none !important;
}


/* plugin widgets */

.featured_profile_widget ul {
	list-style: none;
}

.featured_profile_widget h4 {
	clear: both;
}

.featured_profile_widget h4 a {
	font-weight: bold;
}

li.studentship-widget {
	margin-bottom: 0.625em;
}



/* =Buddypress
----------------------------------------------- */


#buddypress ul.item-list {
	border-top: none;
}

#buddypress ul.item-list li {
	border-bottom: none;
	padding-left: 10px;
	padding-left: 0.71428571rem;
}

#buddypress ul.item-list li div.action {
	right: 10px;
	right: 0.71428571rem;
}

#buddypress ul.item-list li:nth-child(odd) {
	background: #f9f9f9;
}

#buddypress div.item-list-tabs#subnav {
	background: #eee;
	margin: 0;
	min-height: 2px;
}

#buddypress div.item-list-tabs ul li:hover > a {
	background: #ddd;
}

div.community-menu ul li {
	list-style: none;
	float: right;
	margin: 0 0.425em 0 0;
	padding: 0.2em 0.625em;
	position: relative;
	background: white;
	top: -4em;
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 650px) {

	#search-box {
		width: 90%;
		float: none;
		position: relative;
		margin-left: 4%;
		margin-bottom: 0;
	}
	
	h2#tagline {
		margin-top: 1%; 
		margin-bottom: 0; 
	}
	
	.post-type-archive-route article.route .field
	{
		width: 100%;
	} 


}


@media (max-width: 450px) {
	#branding img {
		height: 90%;
		width: 90%;
	}

	h2#tagline {
		font-size:0.9em; 
	}

	.front-page-sidebar, #front-page-sidebar-2, .half-box, .third-box {
		width: 100%;
	}

	.feature {
		background: #e6edf5;
		margin: 1%;
		padding: 1%;
	}

	.feature img {
		float: right;
	}

	#front-page-sidebar-2 {
		margin: 0 1%;
	}

	#access2 {
		position: absolute;
		clear: none;
	}

	#access2 ul li > a {
		color: #eee;
		display: block;
		line-height: 3.333em;
		padding: 0 1.2125em;
		text-decoration: none;
	}

	#access2 > ul > li > a:after {
		content: " +";
	}

	#access2 li:hover > a:after {
		content: " -";
	}

	#access2 ul ul li:hover > a:after {
		content: "";
	}
	

	#access2 ul ul, #access2 ul ul ul {
		-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		display: none;
		float: left;
		margin: 0;
		position: absolute;
		top: 3.333em;
		left: 0;
		width: 118px;
		z-index: 99999;
	}

	#access2 ul ul ul {
		left: 100%;
		top: 0;
	}

	#access2 ul ul ul ul {
		left: 0;
		top: 0;
	}

	#access2 ul ul a, #access2 ul ul ul a {
		background: #f9f9f9;
		border-bottom: 1px dotted #ddd;
		color: #444;
		font-size: 13px;
		font-weight: normal;
		height: auto;
		line-height: 1.4em;
		padding: 10px 10px;
		width: 116px;
	}

	#access2 li:hover > a,
	#access2 ul ul :hover > a,
	#access2 a:focus {
		background: #efefef;
	}


	#access2 ul li:hover div > ul {
		display: block;
	}

	#access2 li#menu-item-733 {
		float: left;
	}
	
	.post-type-archive-route article.route .field-label {
 		float: none;
	}

}